/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Layer definitions
#define BSE 0
#define LEF 1
#define RIG 2
#define TRI 3

/ {
	behaviors {
    	ht: hold_tap {
                display-name = "hold_tap";
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                flavor = "balanced";
                tapping-term-ms = <200>;
                quick-tap-ms = <150>;
                bindings = <&kp>, <&kp>;
        };
        &soft_off {
            /delete-property/ split-peripheral-off-on-press;
            hold-time-ms = <2000>;
        };
	};

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <RIG LEF>;
            then-layer = <TRI>;
        };
    };

	combos {
     compatible = "zmk,combos";
        qwesc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            layers = <0>;
        };
	};

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│    Q     │    W     │    E     │    R     │    T     │   │    Y     │    U     │    I     │    O     │    P     │
             &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│    A     │    S     │    D     │    F     │    G     │   │    H     │    J     │    K     │    L     │  ENTER   │
            &kp A   &ht LSHIFT S &ht LCTRL D &ht LGUI F &ht LALT G   &ht RALT H  &ht RGUI J &ht RCTRL K &ht RSHIFT L &kp ENTER
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│    Z     │    X     │    C     │    V     │    B     │   │    N     │    M     │   , <    │   . >    │    /     │
             &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT   &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                           &lt LEF TAB &ht LGUI CAPS &kp SPACE  &lt RIG BSPC
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        left_layer {
            display-name = "NUM";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│    1     │    2     │    3     │    4     │    5     │   │    6     │    7     │    8     │    9     │    0     │
            &kp N1      &kp N2     &kp N3     &kp N4     &kp N5        &kp N6     &kp N7     &kp N8     &kp N9      &kp N0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │   LEFT   │   DOWN   │    UP    │  RIGHT   │          │
            &trans      &trans     &trans     &trans     &trans        &kp LARW   &kp DARW   &kp UARW   &kp RARW    &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
            &trans      &trans     &trans     &trans     &trans        &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                              &trans     &trans        &kp ESC    &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        right_layer {
            display-name = "SYM";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│    !     │    @     │    #     │    $     │    %     │   │    ^     │    &     │    *     │    `     │    ~     │
             &kp EXCL   &kp AT    &kp HASH   &kp DLLR   &kp PRCNT      &kp CARET  &kp AMPS  &kp ASTRK  &kp GRAVE  &kp TILDE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│    "     │    [     │    {     │    (     │          │   │    /     │    -     │    =     │    :     │    ;     │
            &kp DQT    &kp LBKT   &kp LBRC   &kp LPAR   &trans        &kp FSLH   &kp MINUS  &kp EQUAL  &kp COLON  &kp SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│    '     │    ]     │    }     │    )     │          │   │    \     │    _     │    +     │    |     │    ?     │
            &kp SQT   &kp RBKT    &kp RBRC   &kp RPAR   &trans        &kp BSLH   &kp UNDER  &kp PLUS   &kp PIPE   &kp QMARK
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                              &trans    &kp CAPS        &trans      &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            display-name = "FUNC";
            bindings = <
        //╭──────────┬──────────┬──────────┬────────┬────────────╮   ╭─────────┬────────────┬──────────┬───────────┬──────────╮
        //│    F1    │    F2    │    F3    │    F4  │ PROFILE 0  │   │         │ TOGGLEOUT  │ VOL MUTE │ PREVSONG  │          │
            &kp F1     &kp F2     &kp F3     &kp F4  &bt BT_SEL 0      &trans  &out OUT_TOG  &kp C_MUTE  &kp C_PREV &trans
        //├──────────┼──────────┼──────────┼────────┼────────────┤   ├─────────┼────────────┼──────────┼───────────┼──────────┤
        //│    F5    │    F6    │    F7    │    F8  │ PROFILE 1  │   │         │ INC BRIGHT │ VOL UP   │PAUSEMUSIC │ SOFT_OFF │
            &kp F5     &kp F6     &kp F7     &kp F8  &bt BT_SEL 1      &trans  &kp C_BRI_UP &kp C_VOL_UP &kp C_PP    &soft_off
        //├──────────┼──────────┼──────────┼────────┼────────────┤   ├─────────┼────────────┼──────────┼───────────┼──────────┤
        //│    F9    │   F10    │   F11    │    F12 │  CLEAR BT  │   │         │ DEC BRIGHT │ VOL DOWN │ NEXTSONG  │          │
            &kp F9     &kp F10    &kp F11    &kp F12 &bt BT_CLR      &studio_unlock &kp C_BRI_DEC &kp C_VOL_DN &kp C_NEXT &trans
        //╰──────────┴──────────┴──────────┼────────┼────────────┤   ├─────────┼────────────┼──────────┴───────────┴──────────╯
                                             &trans  &trans            &trans     &trans
        //                                 ╰────────┴────────────╯   ╰─────────┴────────────╯
            >;
        };
    };
};
